.container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  a{
    padding: 71px 0 0 20px;
  }
  img{
    align-self: flex-end;
    padding: 0 30px 30px 0;
  }
}
