.contact {
  border: 1px solid black;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}