.project {
  width: 50%;
  padding: 40px;
}

.title{
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
}

.description{
  display: flex;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 140%;

  letter-spacing: 0.015em;

  color: #000000;
  img{
    align-self: flex-end;
  }
}