.header {
  height: 80px;
  background-color: #4275c7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 760px) {
  .header{
    justify-content: center;
  }
}